<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="de.mxs.reactnativemobackgroundexecution">

  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

  <application>

    <service android:name=".BackgroundExecutionService" android:exported="false" android:stopWithTask="false" />

    <service android:name=".BackgroundJobService" android:exported="false" android:stopWithTask="false" android:permission="android.permission.BIND_JOB_SERVICE" />

    <receiver android:name=".StartReactOnBootReceiver" android:exported="true" android:enabled="true">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>

  </application>

</manifest>
